:root {
  --text-color: white; /* значение по умолчанию для цвета текста */
}
.bold,
.thin,
.boldCard,
.thinCard,
.boldCardForm {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.bold.dark-bg,
.thin.dark-bg,
.boldCard.dark-bg,
.thinCard.dark-bg {
  --text-color: rgb(
    63,
    63,
    63
  ); /* изменение значения переменной при наличии класса dark-bg */
}
.card {
  border: 0px;
  border-radius: 0rem;
}
.transparent-card {
  background-color: transparent;
  border: none;
}

.bold {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 2rem 0rem 0.5rem;
}

.thin {
  font-weight: 100;
  font-size: 1.3rem;
  color: var(--text-color);
  padding: 0rem 0rem 1rem;
}

.boldCard {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text-color); /* использование CSS переменной */
}

.thinCard {
  font-weight: 200;
  font-size: 1rem;
  color: var(--text-color);
  padding: 1rem;
}

.boldCardForm {
  font-weight: 100;
  font-size: 1.4rem;
  color: black;
  padding: 1rem;
}

.red {
  background-color: rgb(237, 67, 67);
  border-radius: 0;
  border: 0;
}
.red:hover {
  background-color: rgb(10, 10, 10);
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
@media screen and (min-width: 900px) {
  .thinCard {
    font-size: 1.2rem;
  }
}
